@import "@/app/styles/utils/variables";
@import "@/app/styles/utils/media";

.uhi {
  &__content {
    padding: 0 12px 0 12px;
  }

  &__about {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  &__userName {
    font: 600 13px $font;
  }
  &__userCat {
    font: 400 13px $font;
    color: $darkgray;
  }
  &__userAbout{
    font: 400 13px $font;
  }
}