@import "@/app/styles/utils/variables";
@import "@/app/styles/utils/media";

.profile {
  font: 500 13px $font;
  height: 24px;
  &__photo {
    width: 24px;
    height: 24px;
  }
  &__dropdown {
      position: relative;
  }
  &__content {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100px;
    height: 30px;
    margin-top: -80px;
    margin-left: -60px;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: $btnGray;
  }
}
 .profile:hover .profile__content {
   display: flex;
 }
