// fonts
$font: -apple-system, BlinkMacSystemFont, sans-serif;

// colors
$red: #fe0135;
$white: #FFFFFF;
$gray: #e6e6e6;
$darkgray:#6e6e6e;

// media
$mediaWidthTablet: 1259px;
$mediaWidthMob: 767px;
$mediaWidthMid: 1430px;
