// fonts
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
$photogram: "Dancing Script", sans-serif;
$font: -apple-system, BlinkMacSystemFont, sans-serif;

// colors
$black: #000000;
$red: #fe0135;
$white: #FFFFFF;
$gray: #e6e6e6;
$darkgray:#6e6e6e;
$lightblue: #e6eef4;
$blue: #004c8b;
$btnGray: #efefef;
$iconsGray: #c4c4c4;
// media
$mediaWidthTablet: 1259px;
$mediaWidthMob: 767px;
$mediaWidthMid: 1430px;
