@import "@/app/styles/utils/variables";
@import "@/app/styles/utils/media";

.description {
  font-family: $font;
  &__info {
    display: flex;
    align-items: center;
    gap: 55px;
    padding: 10px 0 10px 0;
  }
  &__top {
    display: flex;
    gap: 2vw;
  }
  &__photoBorder {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(purple,orange);
    clip-path: circle(48%);
    width: 90px;
    height: 90px;

  }
  &__photoContainer {

    height: 75px;
    width: 75px;
  }
  &__photo {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    outline: 2px solid white;
  }
  &__activity {
    display: flex;
    gap: 5vw;
  }
  &__activityItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    font: 600 14px $font;
  }
  &__activityTitle {
    font: 400 14px $font;
  }
}