@import "@/app/styles/utils/variables";
@import "@/app/styles/utils/media";

.uheader {
  font-family: $font;
  padding: 14px 14px 0 14px;
  &__loged {
    display: flex;
    justify-content: space-between;
  }
  &__leftPart {
    display: flex;
    align-items: center;
    gap: 2vw;
  }
}
